:root {
  /* Blue */
  --ds__color__blue-50: #E3F2FD;
  --ds__color__blue-100: #BBDEFB;
  --ds__color__blue-200: #90CAF9;
  --ds__color__blue-300: #64B5F6;
  --ds__color__blue-400: #3B82F6;
  --ds__color__blue-500: #2563EB;
  --ds__color__blue-600: #2E86C1;
  --ds__color__blue-700: #1976D2;
  --ds__color__blue-800: #1565C0;
  --ds__color__blue-900: #0D47A1;
  --ds__color__blue-contrast: #FFFFFF;

  /* Indigo */
  --ds__color__indigo-50: #E8EAF6;
  --ds__color__indigo-100: #C5CAE9;
  --ds__color__indigo-200: #9FA8DA;
  --ds__color__indigo-300: #7986CB;
  --ds__color__indigo-400: #5C6BC0;
  --ds__color__indigo-500: #3F51B5;
  --ds__color__indigo-600: #3949AB;
  --ds__color__indigo-700: #303F9F;
  --ds__color__indigo-800: #283593;
  --ds__color__indigo-900: #1A237E;
  --ds__color__indigo-contrast: #FFFFFF;

  /* Purple */
  --ds__color__purple-50: #F3E5F5;
  --ds__color__purple-100: #E1BEE7;
  --ds__color__purple-200: #CE93D8;
  --ds__color__purple-300: #BA68C8;
  --ds__color__purple-400: #AB47BC;
  --ds__color__purple-500: #9C27B0;
  --ds__color__purple-600: #8E24AA;
  --ds__color__purple-700: #7B1FA2;
  --ds__color__purple-800: #6A1B9A;
  --ds__color__purple-900: #4A148C;
  --ds__color__purple-contrast: #FFFFFF;

  /* Pink */
  --ds__color__pink-50: #FCE4EC;
  --ds__color__pink-100: #F8BBD0;
  --ds__color__pink-200: #F48FB1;
  --ds__color__pink-300: #F06292;
  --ds__color__pink-400: #EC407A;
  --ds__color__pink-500: #E91E63;
  --ds__color__pink-600: #D81B60;
  --ds__color__pink-700: #C2185B;
  --ds__color__pink-800: #AD1457;
  --ds__color__pink-900: #880E4F;
  --ds__color__pink-contrast: #FFFFFF;

  /* Red */
  --ds__color__red-50: #FFEBEE;
  --ds__color__red-100: #FFCDD2;
  --ds__color__red-200: #EF9A9A;
  --ds__color__red-300: #E57373;
  --ds__color__red-400: #EF5350;
  --ds__color__red-500: #EC1B2E;
  --ds__color__red-600: #C61625;
  --ds__color__red-700: #D32F2F;
  --ds__color__red-800: #C62828;
  --ds__color__red-900: #771010;
  --ds__color__red-contrast: #FFFFFF;

  /* Orange */
  --ds__color__orange-50: #FFF3E0;
  --ds__color__orange-100: #FFE0B2;
  --ds__color__orange-200: #FFCC80;
  --ds__color__orange-300: #FFB74D;
  --ds__color__orange-400: #FFA726;
  --ds__color__orange-500: #F59E0B;
  --ds__color__orange-600: #D97706;
  --ds__color__orange-700: #F57C00;
  --ds__color__orange-800: #EF6C00;
  --ds__color__orange-900: #bb4600;
  --ds__color__orange-contrast: #000000;

  /* Yellow */
  --ds__color__yellow-50: #FFFDE7;
  --ds__color__yellow-100: #FFF9C4;
  --ds__color__yellow-200: #FFF59D;
  --ds__color__yellow-300: #FFF176;
  --ds__color__yellow-400: #FFEE58;
  --ds__color__yellow-500: #FFEB3B;
  --ds__color__yellow-600: #FDD835;
  --ds__color__yellow-700: #FBC02D;
  --ds__color__yellow-800: #F9A825;
  --ds__color__yellow-900: #F57F17;
  --ds__color__yellow-contrast: #000000;

  /* Green */
  --ds__color__green-50: #E8F5E9;
  --ds__color__green-100: #C8E6C9;
  --ds__color__green-200: #A5D6A7;
  --ds__color__green-300: #81C784;
  --ds__color__green-400: #66BB6A;
  --ds__color__green-500: #4CAF50;
  --ds__color__green-600: #15803D;
  --ds__color__green-700: #166534;
  --ds__color__green-800: #2E7D32;
  --ds__color__green-900: #1B5E20;
  --ds__color__green-contrast: #FFFFFF;

  /* Teal */
  --ds__color__teal-50: #E0F2F1;
  --ds__color__teal-100: #B2DFDB;
  --ds__color__teal-200: #80CBC4;
  --ds__color__teal-300: #8AA7BA;
  --ds__color__teal-400: #26A69A;
  --ds__color__teal-500: #2C415C;
  --ds__color__teal-600: #25374E;
  --ds__color__teal-700: #00796B;
  --ds__color__teal-800: #00695C;
  --ds__color__teal-900: #004D40;
  --ds__color__teal-contrast: #FFFFFF;

  /* Cyan */
  --ds__color__cyan-50: #E0F7FA;
  --ds__color__cyan-100: #B2EBF2;
  --ds__color__cyan-200: #80DEEA;
  --ds__color__cyan-300: #4DD0E1;
  --ds__color__cyan-400: #26C6DA;
  --ds__color__cyan-500: #00BCD4;
  --ds__color__cyan-600: #00ACC1;
  --ds__color__cyan-700: #0097A7;
  --ds__color__cyan-800: #00838F;
  --ds__color__cyan-900: #006064;
  --ds__color__cyan-contrast: #000000;

  /* Gray */
  --ds__color__gray-50: #F8FAFC;
  --ds__color__gray-100: #F1F5F9;
  --ds__color__gray-200: #E2E8F0;
  --ds__color__gray-300: #CBD5E1;
  --ds__color__gray-400: #94A3B8;
  --ds__color__gray-500: #64748B;
  --ds__color__gray-600: #475569;
  --ds__color__gray-700: #334155;
  --ds__color__gray-800: #1F2937;
  --ds__color__gray-900: #0B1220;
  --ds__color__gray-contrast: #000000;

  /* Monochrome */
  --ds__color__black: #000000;
  --ds__color__white: #FFFFFF;
}
